POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=exampledb

GO_DBCONN_URL=postgres://username:password@localhost:5432/exampledb

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/exampledb
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
