POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=exampledb
GO_DBCONN_URL=postgres://postgres:password@localhost:5432/exampledb
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/exampledb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
