# Database Config
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=exampledb

# Go Application Config
GO_DBCONN_URL_DOCKER=postgres://username:password@postgres:5432/archnitedb
GO_DBCONN_URL_LOCAL=postgres://username:password@localhost:5432/archnitedb

# Spring Boot Application Config
SPRING_DATASOURCE_URL_DOCKER=jdbc:postgresql://postgres:5432/archnitedb
SPRING_DATASOURCE_URL_LOCAL=jdbc:postgresql://localhost:5432/archnitedb
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
