<main class="flex flex-col items-center justify-center w-screen h-screen">
  <div class="w-4/5 h-4/5 max-h-full rounded-xl bg-zinc-950 shadow-[0px_0px_20px_0px_rgba(255,_255,_255,_0.35)] overflow-y-auto">
    <div class="flex flex-col items-center w-full">
      <h1 class="text-4xl mb-6 mt-6">Archnite</h1>
      <label for="multiple-ac" class="font-bold mb-2 block">Search Packages</label>
      <div class="w-3/5 mb-6 flex justify-center">
        <p-autocomplete [(ngModel)]="selectedPackages"
          inputId="multiple-ac"
          optionLabel="packageName"
          class="w-full mr-2"
          styleClass="w-full"
          multiple
          [suggestions]="suggestedPackages"
          [forceSelection]="true"
          (completeMethod)="search($event)" >
          <ng-template let-pkg pTemplate="item">
            <div class="flex items-center justify-between w-full">
              <span>
                {{ pkg.packageName }}
                @if(pkg.aur) {
                  <span class="text-sm text-gray-400"> (AUR)</span>
                }
              </span>
              <a href="{{ pkg.url }}"
                 target="_blank"
                 (click)="handleSuggestionLinkClick(pkg, $event)"
                 class="ml-2 text-blue-400 hover:text-blue-300 hover:underline">
                View
              </a>
            </div>
          </ng-template>
        </p-autocomplete>
        <p-button (click)="copyToClipboard()" label="Copy" [disabled]="selectedPackages.length === 0" />
      </div>
      <div class="flex flex-wrap gap-4">
        <div class="flex items-center">
          <p-radiobutton name="packageType" value="All" [(ngModel)]="packageType" inputId="allPackageTypes" />
          <label for="allPackageTypes" class="ml-2">All</label>
        </div>
        <div class="flex items-center">
          <p-radiobutton name="packageType" value="Official" [(ngModel)]="packageType" inputId="officialOnly" />
          <label for="officialOnly" class="ml-2">Official Packages Only</label>
        </div>
        <div class="flex items-center">
          <p-radiobutton name="packageType" value="Aur" [(ngModel)]="packageType" inputId="aurOnly" />
          <label for="aurOnly" class="ml-2">AUR Packages Only</label>
        </div>
      </div>
    </div>
  </div>
</main>
