# Ignore IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Ignore Maven build artifacts
target/
*.jar
*.war

# Ignore Maven local repository
.m2/

.env.example

# Ignore Git files
.git/
.gitignore

# Ignore Docker-related files (if any)
Dockerfile
docker-compose.yml